<div id='pets'>
	<div>
		<a href='#pet1'><img src='img/pet1.gif' style='width:75px;'></a>
		<a href='#pet2'><img src='img/pet2.gif' style='width:75px;'></a>
		<a href='#pet3'><img src='img/pet3.gif' style='width:75px;'></a>
	</div>
	<div>
		<a href='#pet4'><img src='img/pet4.gif' style='width:75px;'></a>
		<a href='#pet5'><img src='img/pet5.gif' style='width:75px;'></a>
		<a href='#pet6'><img src='img/pet6.gif' style='width:75px;'></a>
	</div>
		<a href='#pet7'><img src='img/pet7.gif' style='width:75px;'></a>
		<a href='#pet8'><img src='img/pet8.gif' style='width:75px;'></a>
		<a href='#pet9'><img src='img/pet9.gif' style='width:75px;'></a>
	<div>
		<a href='#pet10'><img src='img/pet10.gif' style='width:75px;'></a>
		<a href='#pet11'><img src='img/pet11.gif' style='width:75px;'></a>
		<a href='#pet12'><img src='img/pet12.gif' style='width:75px;'></a>
	</div>
	<div>
		<a href='#pet13'><img src='img/pet13.gif' style='width:75px;'></a>
		<a href='#pet14'><img src='img/pet14.gif' style='width:75px;'></a>
		<a href='#pet15'><img src='img/pet15.gif' style='width:75px;'></a>
	</div>

</div>
