<img class='centerbody' src='img/home.png' style='width: 100px;'>
<a href='#mypets' data-role='button' data-icon='home'>My Pets</a>
<a href='#store' data-role='button' data-icon='grid'>Store</a>
<div data-role='collapsible' data-theme='a'>
	<h3>About</h3>
	<h4>These are your study pets. You can <em> love </em> and care for your pets by not procasinating by turning <em>off</em> your wifi, data connectivity and <em>study!</em> The more you study, the more you love your pet, and the more you love your pet the more it will grow! </h4>
</div>

