<div id='storepets'>
	<img src='img/pet1.gif' style='width:80px;'>
	<button id='buypet1' data-role="button" data-icon="star">1000</button>
	<img src='img/pet2.gif' style='width:80px;'>
	<button id='buypet2' data-role="button" data-icon="star">1000</button>
	<img src='img/pet3.gif' style='width:80px;'>
	<button id='buypet3' data-role="button" data-icon="star">1000</button>
	<img src='img/pet4.gif' style='width:80px;'>
	<button id='buypet4' data-role="button" data-icon="star">1000</button>
	<img src='img/pet5.gif' style='width:80px;'>
	<button id='buypet5' data-role="button" data-icon="star">1000</button>
	<img src='img/pet6.gif' style='width:80px;'>
	<button id='buypet6' data-role="button" data-icon="star">1000</button>
	<img src='img/pet7.gif' style='width:80px;'>
	<button id='buypet7'data-role="button" data-icon="star">1000</button>
	<img src='img/pet8.gif' style='width:80px;'>
	<button id='buypet8' data-role="button" data-icon="star">1000</button>
	<img src='img/pet9.gif' style='width:80px;'>
	<button id='buypet9' data-role="button" data-icon="star">1000</button>
	<img src='img/pet10.gif' style='width:80px;'>
	<button id='buypet10' data-role="button" data-icon="star">1000</button>
	<img src='img/pet11.gif' style='width:80px;'>
	<button id='buypet11' data-role="button" data-icon="star">1000</button>
	<img src='img/pet12.gif' style='width:80px;'>
	<button id='buypet12' data-role="button" data-icon="star">1000</button>
	<img src='img/pet13.gif' style='width:80px;'>
	<button id='buypet13' data-role="button" data-icon="star">1000</button>
	<img src='img/pet14.gif' style='width:80px;'>
	<button id='buypet14' data-role="button" data-icon="star">1000</button>
	<img src='img/pet15.gif' style='width:80px;'>
	<button id='buypet15' data-role="button" data-icon="star">1000</button>
</div>
<br>
